@import './styles.colors';
@import './styles.variables';
@import '~materialize-css/sass/materialize';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

gdg-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

.top-section {
  position: relative;
  z-index: 997;
}

.parallax-container {
  height: calc(100vh - 56px);
  min-height: $parallax-min-height;
  background-color: rgba($primary-color-dark, 0.5);

  @media #{$medium-and-up} {
    height: 100vh;
  }

  &-data {
    width: 100%;
  }
}
