<header>
  <nav class="transparent">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">
        GDG
      </a>
      <a data-target="mobile-menu" class="sidenav-trigger">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Inicio</a></li>
      </ul>
    </div>
  </nav>

  <ul swSidenav class="sidenav" id="mobile-menu">
    <li><a class="sidenav-close" routerLink="/">Inicio</a></li>
  </ul>

  <div id="navbar-background"></div>
</header>
